<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>VenueHub</title>
</head>
<body>

<h1><a href="index.html" th:href="@{/index/member=*{member.id}}">VenueHub</a></h1>

<div class="footer">
    <!-- Banner links -->
    <a href="savedVenues.html" th:href="@{/}">My Saved Venues</a> |
    <a href="findVenues.html" th:href="@{/}">Find Venues</a> |
    <a href="about.html" th:href="@{/}">About Gigmanager</a> |
    <a href="editMember.html" th:href="@{/}">User Settings</a> |
    <a href="login.html" th:href="@{/}">Log Out</a> |
    Notifications
</div>

<h2 th:text="${prod.inStock}? #{true} : #{false}""></h2>

<!------------------------------------------------------------------------------------------>
<!-- ARTIST DATA --------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------>


<form:form modelAttribute="editArtistBean">
    <form:hidden path="artist.id"/>

    <custom:inputField label="Name" name="artist.name"/>
    <custom:inputField label="City" name="artist.city"/>
    <custom:inputField label="Country" name="artist.country"/>

    <!-- MEMBERS --------------------------------------------------------------------------->
    <c:if test="${artist.members.size() > 0}">
        <p>
            <b><label>Members</label></b><br>
            ------------------<br>
            <c:forEach items="${artist.members}" var="member">
                <a href="<%=request.getContextPath()%>/editMember/${member.id}.html">${member.userName}</a><br>
            </c:forEach>
        </p>
    </c:if>

    <p>
        <a class="button" href="<%=request.getContextPath()%>/addMembersToArtist/${memberId}/${artist.id}/0.html">Add
            Members</a>
    </p>


    <!-- GENRE ---------------------------------------------------------------------------->
    <custom:select label="Genre" name="artist.genre" itemLabel="name"/>
    <custom:inputTextArea label="Bio" name="artist.bio"/>

    <p>
        <label>Links</label><br>
        <custom:inputChoiseTag label="Official Website" name="artist.officialWebsite"
                               conditionViolated="${isExistingOfficialWebsite}"
                               errorMessage="website already exists for another artist"/>
        <custom:inputChoiseTag label="Youtube" name="artist.youtubeAddress" conditionViolated="${isExistingYoutube}"
                               errorMessage="Youtube address already exists for another artist"/>
        <custom:inputChoiseTag label="Facebook" name="artist.facebookAddress" conditionViolated="${isExistingFacebook}"
                               errorMessage="Facebook addess already exists for another artist"/>
        <custom:inputChoiseTag label="Spotify" name="artist.spotifyAddress" conditionViolated="${isExistingSpotify}"
                               errorMessage="Spotify addess already exists for another artist"/>
        <custom:inputChoiseTag label="iTunes" name="artist.iTunesAddress" conditionViolated="${isExistingiTunes}"
                               errorMessage="iTunes addess already exists for another artist"/>
        <custom:inputChoiseTag label="Contact" name="artist.email" conditionViolated="${isExistingEmail}"
                               errorMessage="Email already exists for another artist"/>

        <!-------------------------------------------------------------------------------------------------------->
        <!--UPCOMING GIGS ---------------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------------------------------->
    <h2 class="underline">
        <img src="<%=request.getContextPath()%>/images/flightrequest.png">
        <label>Upcoming Gigs</label>
    </h2>

    <p>
        <a class="button" href="<%=request.getContextPath()%>/editGig/0/${memberId}.html">Add Gig</a> <a
            href="<%=request.getContextPath()%>/previousGigs/${artist.id}.html">Previous gigs</a>
    </p>

    <table class="dataTable">
        <tr>
            <th>Date</th>
            <th>Venue</th>
            <th>Remove</th>
        </tr>
        <c:forEach items="${artist.gigs}" var="gig">
            <tr>
                <td>${gig.date}</td>
                <td>
                    <a href="<%=request.getContextPath()%>/editGig/${gig.id}/${artist.id}/${memberId}.html">
                        ${gig.venue.name} '(' ${gig.venue.city} - ${gig.venue.country} ')'</a>
                </td>
                <td><a href="<%=request.getContextPath()%>/editGig/${gig.id}.html"><font color="red">X</font></a></td>
            </tr>
        </c:forEach>
    </table>

    <!----------------------------------------------------------------------------------------------------------->
    <!--PENDING REQUESTS ---------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------->

    <h2 class="underline">
        <img src="<%=request.getContextPath()%>/images/flightrequest.png">
        <label>Pending Requests</label>
    </h2>

    <p>
        <a class="button" href="<%=request.getContextPath()%>/editRequests/0/.html">Add Request</a>
    </p>

    <table class="dataTable">
        <tr>
            <th>Last Update</th>
            <th>Venue</th>
            <th>Edit/View</th>
            <th>Remove</th>
        </tr>
        <c:forEach items="${artist.requests}" var="request">
            <tr>
                <td>${request.lastChangeDate} by '${request.lastChangeUserId}'</td>
                <td>
                    <a href="<%=request.getContextPath()%>/editRequests/${request.id}.html">
                        ${request.venue.name} '(' ${request.venue.city} - ${request.venue.country} ')'</a>
                </td>
                <td><a href="<%=request.getContextPath()%>/removeRequest/${request.id}.html"><font color="red">X</font></a>
                </td>
            </tr>
        </c:forEach>
    </table>


    <!----------------------------------------------------------------------------------------------------------->
    <!--VENUES --------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------->

    <h2 class="underline">
        <img src="<%=request.getContextPath()%>/images/flightrequest.png">
        <label>Saved Venues</label>
    </h2>

    <p>
        <a class="button" href="<%=request.getContextPath()%>/editVenue/0/${artist.id}/${memberId}.html">Add Venue</a>
    </p>

    <table class="dataTable">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Country</th>
            <th>Music</th>
            <th>Last Update</th>
            <th>Delete</th>
        </tr>
        <c:forEach items="${artist.venues}" var="venue">
            <tr>
                <td>
                    <a href="<%=request.getContextPath()%>/editVenue/${venue.id}/${artist.id}/${memberId}.html">
                        ${venue.name}</a>
                </td>
                <td>${venue.address.city}</td>
                <td>${venue.address.country}</td>
                <td>Not Implemented Yet</td>
                <td>${venue.getDisplayLastChangeDate()}</td>
                <td>
                    <a href="<%=request.getContextPath()%>/deleteSavedVenue/${venue.id}/${artist.id}.html">
                        <font color="red">X</font></a>
                </td>
            </tr>
        </c:forEach>
    </table>


    <!----------------------------------------------------------------------------------------------------------->
    <!--MY REVIEWS ---------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------->

    <h2 class="underline">
        <img src="<%=request.getContextPath()%>/images/flightrequest.png">
        <label>My Reviews</label>
    </h2>

    <table class="dataTable">
        <tr>
            <th>Venue</th>
            <th>Date</th>
            <th>Score</th>
            <th>Review</th>
            <th>Delete</th>
        </tr>
        <c:forEach items="${artist.reviews}" var="review">
            <tr>
                <td>
                    <a href="<%=request.getContextPath()%>/editVenue/${review.venue.id}/${artist.id}/${memberId}.html">
                        ${review.venue.name}</a>
                </td>
                <td>${review.getDisplayLastChangeDate()}</td>
                <td>${review.score}</td>
                <td>${review.getShortenedReview()}</td>
                <td>
                    <a href="<%=request.getContextPath()%>/deleteReview/${review.id}.html">
                        <font color="red">X</font></a>
                </td>
            </tr>
        </c:forEach>
    </table>

    <p>
        <a href="<%=request.getContextPath()%>/myReviews/${artist.id}/${memberId}.html">See all my reviews</a>
    </p>

    <!----------------------------------------------------------------------------------------------------------->
    <!--SUBMIT ......-------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------->
    <p>
        <c:set var="submitText">
            <spring:message code="global.submit"/>
        </c:set>
        <input type="submit" value="${submitText}"/> <a href="<%=request.getContextPath()%>/index/${memberId}.html">Cancel</a>
</form:form>
</body>
</html>