<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>VenueHub / Reset Password</title>
</head>
<body>

<h1><a href="login.html" th:href="@{/login}">VenueHub</a></h1>

<!-- ADD NEW MEMBER -->
<h2>Reset Password</h2>

<form action="#" method="post" th:action="@{/resetPassword}" th:object="${resetMemberPasswordBean}">

    <table>
        <tr>
            <td><input type="text" placeholder="username" th:field="*{userName}"/>
                <label th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Username Error</label></td>
            <td><label th:if="${userNotFound}" th:text="${userNotFoundMsg}">Not found</label></td>
        </tr>

        <tr>
            <td><input type="password" placeholder="password" th:field="*{password}"/>
                <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</label></td>
        </tr>
        <tr>
            <td><input type="password" placeholder="repeat password" th:field="*{repeatPassword}"/>
                <label th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}">password
                    Error</label></td>
            <td><label th:if="${isIncorrectRepeatPassword}" th:text="${isIncorrectRepeatPasswordMsg}">Not found</label>
            </td>
        </tr>

        <tr>
            <td>
                <button type="submit">submit</button>
                <a href="../login.html" th:href="@{/login}">Cancel</a></td>
        </tr>
    </table>

</form>
</body>
</html>